td{
    width:20;
    height:20;
}
body{
    background:rgb(120,120,120);
    font-family: 'Press Start 2P', cursive;
    font-size: 1.768vw;
    color:white;
}
p{
    margin:0;
    padding:0;
}
canvas{
    position:absolute;
    top:0;
    left:0;
}